@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Yanone+Kaffeesatz');
@import url('nav.css');

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
body{
    background: #f2f2f2;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 100%;
    margin: auto;
}

.slides {
    width: 100%;
}

.slides img{
    width: 100%;
}

.slidesjs-pagination {
    background: #424242;
    list-style: none;
    overflow: hidden;
}

.slidesjs-pagination li {
    float: left;
}

.slidesjs-pagination li a {
    display: block;
    padding: 10px 8px;
    color: #fff;
    text-decoration: none;
}

.slidesjs-pagination li a:hover {
    background:  #000;
}

.slides .active {
    background: #000;
}

.slidesjs-navigation {
    background: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 5px;
    float: right;
}

.header {
    height: 70px;
}
.header .contenedor {
    display:  flex;
    justify-content: space-between;
}
.logo {
    margin: 5px;
}


/*---------------nav-bar-------------------
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_link {
    display: block;
    padding: 15px;
    background: rgb(4, 8, 219);
    text-decoration: none;
    color: #fff;
}
.menu_link:hover {
    background: white;
    color: rgb(4, 8, 219);
}
*/